body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:static;
  left:auto;
  width:168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1236 {
  position:absolute;
  left:25px;
  top:26px;
  width:22px;
  height:22px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1238 {
  position:absolute;
  left:20px;
  top:21px;
  width:32px;
  height:32px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1241 {
  position:absolute;
  left:72px;
  top:27px;
  width:24px;
  height:21px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1244 {
  position:absolute;
  left:118px;
  top:27px;
  width:21px;
  height:21px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1246 {
  position:absolute;
  left:149px;
  top:28px;
  width:19px;
  height:19px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
